<!-- <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname" [(ngModel)]="fname" (change)="show()"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" [(ngModel)]="lname" name="lname" (change)="show()"><br><br>
  <label for="fullname">Full name:</label>
  <input type="text" id="lname" name="lname" value="{{full}}"><br><br>

<input type="radio" id="red" name="color" value="RED" [(ngModel)]="isColor" (change)="color('red')">
<label for="red">RED</label><br>
<input type="radio" id="green" name="color" value="GREEN" [(ngModel)]="isColor" (change)="color('green')" >
<label for="green">GREEN</label><br>
<div [ngClass]="isColor ?'red':'green'">
<p>Hello</p>
</div>
<div [ngClass]="isSpecial ? 'intro' : 'intro1'">This div is special</div> -->


<!-- <app-movie></app-movie> -->
<!-- <app-pipedemo></app-pipedemo> -->
<app-food></app-food>
