<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Book</h5>
                    <button class="btn btn-light btn-sm" (click)="onClick()">Add Book</button>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>SLNum</th>
                                <th>Name</th>
                                <th>Author</th>
                                <th>Pages</th>
                                <th>Language</th>
                                <th>Price</th>
                                <th>Publisher</th>
                                <th>Category</th>                                
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle" *ngFor="let book of bookdata;  index as i">
                                 
                                <td>{{i+1}}</td>
                                <td> {{book.bookName}}</td>
                                <td>{{book.author}}</td>
                                <td>{{book.pages}}</td>
                                <td>{{book.language}}</td>
                                <td>{{book.price}}</td>
                                <td>{{book.publisher}}</td>
                                <td>{{book.category}}</td>
                                <!-- <a class="fas fa-edit">Edit</a> -->
                                <!-- <a class="nav-link"  [routerLink]="['/view', book.id]">View</a> -->
                                <a class="nav-link"  [routerLink]="['/view', book.id]" ><i class="fa-solid fa-eye" ></i> </a> 
                                <a class="nav-link"  [routerLink]="['edit', book.id]" ><i class="fas fa-edit" ></i> </a> 
                                <!-- <a href="/"  (click)="delete(book.id)"></a> -->
                                <!-- <a class="nav-link"  [routerLink]="['/edit', book.id]">Edit</a> -->
                                <a href="/"  (click)="delete(book.id)"><i class="fa-solid fa-trash"></i></a>
                                <!-- <i class="fas fa-edit"></i> -->
                                <!-- <td class="text-end">
                                    <div class="drodown">
                                        <a data-bs-toggle="dropdown" href="#" class="btn p-1" aria-expanded="false">
                                  <i class="fa fa-bars" aria-hidden="true"></i>
                                </a>
                                        <div class="dropdown-menu dropdown-menu-end" style="">
                                            <a href="#!" class="dropdown-item">View Details</a>
                                            <a href="#!" class="dropdown-item">Delete user</a>
                                        </div>
                                    </div>
                                </td> -->
                            </tr>
                           
                           
                            
                             
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>